{% extends "layout.html" %}

{% block content %}
{% set_global request_path = "/" %}
{% include "pagination.html" %}
<div class="max-w-sm mx-auto border-2 border-gray-100 divide-y-2 divide-gray-100">
  {% for file in files %}
  <div class="flex px-3 py-1.5 items-center">
    <div class="text-sm text-gray-500 flex-no8e w-44">{{ file.uploaded_on | date(format="%Y-%m-%d @ %H:%M:%S") }}</div>
    <div class="flex-1">
      <a href="/f/{{ file.filename }}">{{ file.filename }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% include "pagination.html" %}
{% endblock content %}
