<!DOCTYPE html>
<html>
  <head>
    <title>saffron</title>
    <link
      href="/static/index.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="bg-gray-50">
    <div class="w-full">
      {% include "header.html" %}
      <div class="px-8 my-8 content md:px-16">
        {% block content %}
        {% endblock content %}
      </div>
      {% include "footer.html" %}
    </div>
  </body>
</html>
